*{
    margin: 0;
    padding: 0;
}
#body{
    background-color: #d9e5e5;
}
.logo{grid-area: logo;}
.search{grid-area: search;}
.menu{
    grid-area: menu;
    display: block;
    margin-right: 30px;
}
.logo img{
    width: 8rem;
    height: auto;
    padding-left: 22px;
    cursor: pointer;
}

.logo button{
    outline: none;
    border: none;
    display: none;
}

.grid-container{
    width: 100%;
    position: fixed;
    z-index: 6;
    display: grid;
    min-height: 56px;
    background-color: #ffffff;
    grid-template-areas: 'logo search menu';
    gap: 10px;
    align-items: center;
    box-shadow: 0px 2px 5px 1px #dcdcdc;

}
.search button, input{
    background: transparent;
    border: none;
    outline: none;
    margin-left: 5px;
    color: #74767a;
    font-size: 14px;
}
.search{
    background-color: #f0f2f5;
    align-items: center;
    padding: 4px 0px;
    border-radius: 30px;
    margin-left: -60px;
    display: block;
}
@media only screen and (max-width: 2000px) and (min-width: 900px){
    .btn{
        display: none;
    }
    .prof-details{
        visibility: visible;
    }
}
.menu #icon-msg ,#icon-notfic, #icon-acc{
    position: relative;
    cursor: pointer;

}
#icon-acc span{
    position: absolute;
    background: #dfdfdf;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border:2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 900;
    transform: rotate(90deg);
    left: 35px;
    padding:5px;
    top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#show-prof{
    display: none;
}
@media only screen and (max-width: 400px) and (min-width: 10px){
    .prof-deatails{
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        padding: 10px;
        border-radius: 7px;
        background: #ffffff;
        z-index:-1;
        right: 0;
        box-shadow: 0px 10px 10px 1px #dcdcdc;
    }
}
@media only screen and (max-width: 2600px) and (min-width: 401px){
.prof-deatails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    width: 350px;
    padding: 10px;
    border-radius: 7px;
    background: #ffffff;
    z-index:-1;
    right: 0;
    box-shadow: 0px 10px 10px 1px #dcdcdc;
}
}

.profile-pic-name img{
    width: 40px;
    height: auto;
}
.pro-div-container h5{
    margin-left: 10px;
    z-index: 2;
}
.pro-div-container{
    z-index: 5;
    box-shadow: 0px 10px 10px 1px #dcdcdc;
    width: 100%;
    align-items: center;
    height: auto;
    background: #fff;
    border-radius: 7px;
}
#icon-acc .temp:hover >p{
    display: block;
}
.settig{
    width: 100%;
    background: #ffffff;
    padding: 5px 10px;
    margin: 1px;
    border-radius: 7px;
    justify-content: space-between;
}
.settig:hover{
    background: #e7e7e7;
}
.info-cont{
    justify-content: left;
    width: 100%;
}
.menu #icon-msg:hover >p{
    display: block;
}
#icon-notfic:hover >p{
    display: block;
}
.menu #icon-msg p,#icon-notfic p, #icon-acc p{
    display: none;
    position: absolute;
    color: #fff;
    background-color: rgb(84, 84, 84);
    border-radius: 5px;
    padding: 6px 5px;
    right: -20px;
    top: 50px;
}
.menu #icon-msg i,#icon-notfic i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f2f5;
}
@media only screen and (max-width: 900px){
    .search{
        display: none;
    }
    .logo button{
        display: block;
        color: #74767a;
        background-color: #f0f2f5;
        width: 40px;
        height: 40px;
        border-radius: 50%;        
    }
}

/* main section css */
.left-sec{
    grid-area: left;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 300px;
    max-height: 90vh;
    position: fixed;
    left: 5px;
    bottom: 0;
    overflow-y: scroll;
}
@media only screen and (max-width: 1200px){
    .left-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 50px;
    height: 100vh;
    position: fixed;
    left: 5px;
    bottom: 0;
    overflow-y: scroll;
    background-color: #fff;
    }  
    .left-icon-container{
        padding: 5px 15px;
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        border-radius: 7px;
        background: #ffffff;
        cursor: pointer;
    } 
    .left-icon-container h6{
        display: none;
    }
    .privacy{
        display: none;
    }
    .left-sec::-webkit-scrollbar {
        display: none;
      }
}


.middle-sec{
    grid-area: midd;
    background-color:#d9e5e5;
    
}
.main-section-wrapper{
    display: grid;
    grid-template-areas: "left midd midd midd right";
    height: 100vh;
}
@media only screen and (max-width: 2600px) and (min-width: 1200px){
    .left-icon-container{
        padding: 5px 15px;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 7px;
        background: #d9e5e5;
        cursor: pointer;
    }
    .left-sec::-webkit-scrollbar {
        width: 8px; 
        background-color: #f1f1f1; 
      }
    .left-sec::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 15px;
      }
      .left-sec::-webkit-scrollbar {
        display: none;
      }
      .left-sec:hover::-webkit-scrollbar {
        display: block;
      }
      .left-icon-container h6{
        display: block;
    }
}

  
.left-icon-container:hover{
    background: #c8cfcf;
}
.left-icon-container h6{
    margin-left: 10px;
    margin-top: 6px;
}

.right-sec{
    grid-area: right;
    display: flex;
    width: 300px;
    padding: 0px 5px;
    flex-direction: column;
    background:#d9e5e5;
    position: fixed;
    left: 76%;
    height: 90vh;
    bottom: 0;
    overflow-y: scroll;

}
.right-sec::-webkit-scrollbar {
    width: 8px; 
    background-color: #f1f1f1; 
  }
.right-sec::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 15px;
  }
  .right-sec::-webkit-scrollbar {
    display: none;
  }
  .right-sec:hover::-webkit-scrollbar {
    display: block;
  }
  .green-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 38px;
    top: 28px;
    border: 2px solid #f1f1f1;
  }
  .contact-wrapper{
    justify-content: space-between;
    padding: 0px 10px;
  }
  .icon-wrapper{
    justify-content: space-between;
    width: 30%;
    cursor: pointer;
  }

  .middle-sec{
    padding-top:75px;
    flex-direction: column;
    align-items: center;    
}
.story-reel{
    display: flex;

}
@media only screen and (max-width:360) {
    .story-card{
        padding: 0px 0px 5px 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    }    
}
.story-card{
    padding: 0px 0px 5px 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.story{
    padding: 10px 0px;
}
.story-container{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 10px;
}
.story-container::-webkit-scrollbar{
    display: none;
}
.story-container .stories{
    min-width: 110px;
    height: 200px;
    margin-left: 5px;
    border-radius: 15px;
    overflow: hidden;
}
.col {
    position: relative;
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
}
.profile-story-main .imgg{
    position: absolute;
    z-index: 3;
    top: 130px;
    left: 35px;
    border: 3px solid #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.white-overlay{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100px;
    top: 145px;
    background: #ffffff;
}
.white-overlay h4{
    margin-top: 30px;
    font-size: 13px;
}
.profile-story img{
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    border: 3px solid #1861ff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}
.col:hover .overlay {
    opacity: 0.2;
    cursor: pointer;
}

.story-button-wrapper{
    position: relative;
}
.next-btn{
    position: absolute;
    top: 70px;
    right: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 5px #00000051 ;
    cursor: pointer;
}
.prev-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
    left: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 5px 5px #00000051 ;
    cursor: pointer;
}
.video h4{
    font-size: 10px;
    margin-left: 5px;
    margin-top: 7px;
}
.video{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 33px;
    border-radius: 7px;
}
.video:hover{
    cursor: pointer;
    background: #dbdbdb;
}
.prof-icon-wrapper{
    justify-content: space-between;
}
.pro-ic-con{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.like-comt{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}